@use "../../assets/scss/mixin" as *;

.visit-form,
.long-form,
.add-form,
.sale-form {
  @include flex-layout(column, center, flex-start, 0.5rem);
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 0 0 1rem 1rem;
  background-color: #f7f7f7;

  .input-group {
    position: relative;
    width: 100%;
    @include flex-layout(column, center, flex-start);

    label {
      top: 10px;
      left: 16px;
      position: absolute;
      font-size: 12px;
    }

    input {
      width: 100%;
      height: 57px;
      padding: 1rem;
      border-radius: 1rem;
      border: none;
      background-color: #e8e8e8;
      &::placeholder {
        font-size: 12px;
        position: absolute;
        bottom: 10px;
        left: 16px;
      }
    }
  }
  .btn {
    @include flex-layout(row, flex-end);
    width: 100%;
  }
}

.visit-form,
.long-form,
.add-form {
  button {
    padding: 0.375rem 2.125rem;
    border: none;
    border-radius: 1.875rem;
    background-color: var(--color-main-1);
    color: #fff;
    font-size: 0.75rem;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      color: var(--color-main-1-hover);
    }
  }
}

.sale-form {
  .btn {
    @include flex-layout(row, flex-end);
    width: 100%;
    button {
      padding: 0.375rem 2.125rem;
      border: none;
      border-radius: 1.875rem;
      background-color: var(--color-main-2);
      color: #fff;
      font-size: 0.75rem;
      font-weight: 400;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        color: var(--color-main-2-hover);
      }
    }
  }
}

#business .add-form button {
  background-color: var(--color-main-2);
}
