@use "../assets/scss/mixin" as *;
@use "../assets/scss/font" as *;

#banner {
  @include flex-layout(column, center, center, 0.5rem);
  img {
    width: 90%;
    margin: 0 auto;
  max-width: 375px;

  }
}
