@use "../../assets/scss/mixin" as *;

header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 100;
  @include tablet {
    max-width: 530px;
  }
  max-width: 530px;
  background: transparent;
  .header-top {
    width: 100%;
    padding: 1rem;
    @include flex-layout(row, space-between);
    img {
      height: 2.5rem;
      cursor: pointer;
    }
  }
  .mypage-icon {
    font-size: 2rem;
    cursor: pointer;
  }
}
